body{
    background-color: blueviolet;
}
table.tr,th,td{
    width: 10em;
}
table{
    border-collapse: collapse;
}
tr:nth-of-type(1) > th{
background-color:aqua;
}
td[colspan]{
    text-align: center;
    background-color: aqua;
    font-weight: bold;
}
.mate{
    background-color: red;
}
.LT{
    background-color: rgb(255, 140, 0);
}
.fisica{
    background-color: greenyellow;
}
.ergonomia{
    background-color: rgb(0, 176, 189);
}
.TC{
    background-color: gray;
}
.vacio{
    background-color: rgb(255, 255, 255);
}
tr,:nth-of-type(2) > th,
tr,:nth-of-type(3) > th, 
tr,:nth-of-type(4) > th,
tr,:nth-of-type(5) > th,
tr,:nth-of-type(6) > th,
tr,:nth-of-type(7) > th,
tr,:nth-of-type(8) > th,
tr,:nth-of-type(9) > th{
    background-color: aqua;
}