.HISTORIA{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.uno{
    background-color: rgba(81, 145, 122, 0.829);
    padding: 15px;
    border-radius: 10px;
    font-family: Arial;
    width: 400px;


}

.h1{
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
}

.summary {
    color: white;

}

